# Preprocessing dataset for FlowMovieML

In [6]:
import pandas as pd

In [7]:
# Read the dataset

financials_path = '../dataset/financials.csv'
movies_path = '../dataset/movies.csv'
opening_gross_path = '../dataset/opening_gross.csv'

financials = pd.read_csv(financials_path)
movies = pd.read_csv(movies_path)
opening_gross = pd.read_csv(opening_gross_path)

In [8]:
# Merge the datasets: financials, movies, opening_gross

df = pd.merge(financials, pd.merge(movies, opening_gross, on='movie_title'), on='movie_title')

In [9]:
# Drop the columns that are not numerical and movie_title

numeric_columns_mask = (df.dtypes == float) | (df.dtypes == int)
numeric_columns = [column for column in numeric_columns_mask.index if numeric_columns_mask[column]]

df = df[numeric_columns].drop(columns=['gross'])

In [12]:
# Drop the rows with NaN values

df = df.dropna()

In [13]:
df

,Unnamed: 0,domestic_gross,production_budget,worldwide_gross,title_year,aspect_ratio,duration,cast_total_facebook_likes,budget,imdb_score,opening_gross,screens
0,0,760507625,425000000,2783918982,2009.0,1.78,178.0,4834,237000000.0,7.9,77025481.0,3452.0
1,2,309420425,300000000,963420425,2007.0,2.35,169.0,48350,300000000.0,7.1,139802190.0,4362.0
2,3,200074175,300000000,879620923,2015.0,2.35,148.0,11700,245000000.0,6.8,70403148.0,3929.0
3,4,448139099,275000000,1084439099,2012.0,2.35,164.0,106759,250000000.0,8.5,160887295.0,4404.0
4,5,89302115,275000000,260002115,2013.0,2.35,150.0,45757,215000000.0,6.5,29210849.0,3904.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2294,3125,355968,11000000,355968,2006.0,2.35,104.0,150,11000000.0,6.8,70460.0,26.0
2296,3133,399879,10800000,2862544,2006.0,2.35,118.0,378,15000000.0,6.4,28298.0,6.0
2299,3138,24084,10600000,261364,2013.0,2.35,98.0,2271,7000000.0,5.5,4608.0,3.0
2300,3141,11052958,10500000,14140402,2007.0,2.35,97.0,20312,10000000.0,6.5,4712341.0,2155.0
2303,3147,1066555,10100000,1066555,2007.0,1.85,111.0,1526,11000000.0,5.8,635000.0,857.0

In [14]:
# Save the clean dataset

df.to_csv('../dataset/clean_dataset.csv', index=False)